<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
<title th:text="#{web.binance.symbols.pagetitle}"></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale = 1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" th:href="@{/css/appstyle.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/fontawesome-5.15.0/css/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome-5.15.0/css/v4-shims.css}" />

</head>


<body>
	<div th:insert="fragments/headernavbar.html :: FRG_header_navbar"></div>

	<div class="abascontainer-buttons">
		<button type="button" class="button button-14 fas fa-sync" style="padding: 0px 5px;" onclick="window.location.href='/web/binance/symbols/update/all'" th:text="#{web.binance.main.symbols.update}" />
	</div>



	<!-- ################################## -->
	<!-- http://jsfiddle.net/7UZA4/1385/      style="height:500px; overflow-y:scroll; display:block;"-->
	<table id=usertable>
		<thead>
			<tr style="font-weight: bold;" bgcolor="#5DBCD2">
				<th th:text="id" />
				<th th:text="favId" />
				<th th:text="symbol" />
				<th th:text="baseAsset" />
				<th th:text="quoteAsset" />
			</tr>
		</thead>
		<th:block th:each="symbol,iterStat:${defsymbols}">
			<tr th:bgcolor="${iterStat.odd}?white:lightgray">
				<td th:text="${symbol.getId()}" />
				<td>
					<a th:href=@{/web/binance/symbols/update/favstatus(symbolid=${symbol.id})} class="btn">
						<span th:if="${symbol.getFavId() == 0}">
							<i class="fa fa-bullseye fa-2x" style="color: #009933; text-align: center;" aria-hidden="true"></i>
						</span>
						<span th:if="${symbol.getFavId() != 0}">
							<i class="fa fa-dot-circle fa-2x" style="color: #d5b414; text-align: center;" aria-hidden="true"></i>
						</span>
					</a>
				</td>
				<td>
					<span th:text="${symbol.getSymbol()}">XXXX</span>
					<span>
						<a th:href=@{/web/binance/symbols/update/symboldataget(symbolid=${symbol.id})} class="btn">
							<i class="fa fa-arrow-circle-right fa-2x" style="color: #009933; text-align: center;" aria-hidden="true"></i>
						</a>
					</span>
				</td>
				<td th:text="${symbol.getBaseAsset()}" />
				<td th:text="${symbol.getQuoteAsset()}" />
			</tr>
		</th:block>
	</table>
	<!-- ################################## -->

</body>