<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
<title th:text="#{web.binance.symbols.data.pagetitle}"></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale = 1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" th:href="@{/css/appstyle.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/fontawesome-5.15.0/css/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome-5.15.0/css/v4-shims.css}" />

</head>


<body>
	<div th:insert="fragments/headernavbar.html :: FRG_header_navbar"></div>




</body>